.productPage {
  padding: 1rem;
  margin-top: 9rem;

  .container {
    position: relative;
    left: 38rem;

    div {
      padding: 10px;
    }
    input {
      outline: none;
      width: 13rem;
      font-size: 1.1 rem;
      border-bottom: 1px solid;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      padding: 10px;
    }
    
    button {
      margin-top: 25px;
      padding: 10px;
      width: 14.2rem;
      color: white;
      font-weight: 400;
      font-size: large;
      background-color: #213547;
    }
  }
}
